### ======================================= ###
### 通用基础配置与 ZRAM 优化 (512M 救命核心)
### ======================================= ###
CONFIG_CCACHE=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_KTRNTL_ZRAM_BACKEND_LZ4=y
CONFIG_KTRNTL_ZRAM_BACKEND_LZO=y
CONFIG_KTRNTL_ZRAM_DEF_COMP_LZ4=y

### ======================================= ###
### 基础系统工具与网络管理 (纯净保留)
### ======================================= ###
CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_zoneinfo-asia=y

CONFIG_PACKAGE_acme-acmesh-dnsapi=n
CONFIG_PACKAGE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_luci-app-acme=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-uhttpd=n
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-theme-argon=y

### ======================================= ###
### 核心代理插件 (强行指定编译 HomeProxy)
### ======================================= ###
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_sing-box=y

### ======================================= ###
### 绝对拉黑区：暴力剔除所有不需要的垃圾插件
### ======================================= ###

# 1. 彻底干掉 USB、硬盘、NAS 共享 (AX6 没 USB 接口，留着纯属浪费)
CONFIG_PACKAGE_fdisk=n
CONFIG_PACKAGE_cfdisk=n
CONFIG_PACKAGE_cgdisk=n
CONFIG_PACKAGE_tune2fs=n
CONFIG_PACKAGE_fstrim=n
CONFIG_PACKAGE_hdparm=n
CONFIG_PACKAGE_smartmontools-drivedb=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_samba4-libs=n
CONFIG_PACKAGE_samba4-server=n
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_luci-app-usb-printer=n

# 2. 彻底干掉其他多余代理软件 (防止与 HomeProxy 抢内存、抢后台端口)
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-passwall2=n
CONFIG_PACKAGE_luci-app-openclash=n
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-3cat=n

# 3. 彻底干掉内网穿透及无关驻留服务
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-frpc=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-watchcat=n
CONFIG_PACKAGE_luci-app-wifischedule=n

### ======================================= ###
### 斐讯 M1 环境监控服务端 (专属扩展)
### ======================================= ###
CONFIG_PACKAGE_phicomm-m1-server=y
CONFIG_PACKAGE_luci-app-phicomm-m1=y
