# 目标平台设置 (Target)
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y

# 只选择红米 AX6 (Redmi AX6)
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6=y

# 如果你需要刷回官方分区表布局的版本，保留下面这行；通常玩 OpenWrt 用上面那行就够了
# CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6-stock is not set

# 开启 NSS 加速固件版本 (LiBwrt 特色)
CONFIG_NSS_FIRMWARE_VERSION_11_4=y

# 内存优化配置 (建议保留)
CONFIG_ATH11K_MEM_PROFILE_512M=y
